<div class="row my-4">
    <div class="col-12 text-center">
        <h2>Monto disponible para el credito: {{montoDisponible | number}}</h2>
    </div>
</div>

<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <div class="form-group w-100">
                <app-mount (changeValue)="change($event)"></app-mount>
            </div>
        </div>
        <div class="col">
            <div class="form-group w-100">
                <label for="my-input">Nombre</label>
                <input class="form-control" type="text" required formControlName="name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group w-100">
                <label>Correo</label>
                <input class="form-control" type="email" required formControlName="email">
            </div>
        </div>
        <div class="col">
            <div class="form-group w-100">
                <label for="my-input">Documento</label>
                <input class="form-control" type="text" required formControlName="document">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group w-100">
                <label for="my-input">Fecha de pago</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="datePay" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="create()" type="submit">Solicitar</button>
        </div>
    </div>
</form>