<div class="row my-5">
    <div class="col-12">
        <a href="/create" class="btn btn-primary" type="button">Solicitar Credito</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Monto del Credito</th>
                    <th>Aprobado</th>
                    <th>Fecha de Pago</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let credit of credits">
                    <td>{{credit.user.name}}</td>
                    <td>{{credit.user.email}}</td>
                    <td>{{credit.value}}</td>
                    <td>{{credit.status}}</td>
                    <td>{{credit.datePay | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>