<div class="form-group">
    <label for="my-select">Monto a solicitar</label>
    <select id="my-select" class="form-control" name="" (change)="onChange($event.target.value)" required>
        <option value="">Seleccione Monto a Solicitar</option>
        <option value="10000">10.000</option>
        <option value="100000">100.000</option>
    </select>
</div>